/* aca voy a ir poniendo los colores, medidas o cosas que se repiten */ 

/*Colours*/

$mainColor:#4c1130;
$SecondColor:#a64d79;
$FontColor:#ffd966;
$FontSecondaryColor:white;

/*Fonts*/

$fontStyle: 'Lato', sans-serif;
