@import "variables.scss";
@import "header.scss";
@import "footer.scss";

* { 
    padding:0;
    margin:0;
 }


/*Aplicacion de Mixin para estilos flexbox*/ 

@mixin flexRow {
    display:flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

/*Aplicacion de Extend para estilo base de Contenedor, según el producto eljo otro color*/

.card{
    align-items: center;
    text-align: center;
}



/*Main*/

 main{
    color: $FontSecondaryColor;
    background-color: $mainColor;
    font-family: $fontStyle;
}

section{
    padding: 5%;
}

/*Index*/

.homeSectionTop{
    @include flexRow;
    
    & .homeImg, .divMain{
        width: 45%;
        height: fit-content;
        padding: 1rem; 
    }

}


/*Catalogo*/

.gridCatalog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "titulo titulo titulo"
                         "vino1 vino2 vino3"
                         "vino4 vino5 vino6"
                         "vino7 vino8 vino9"
                         "vino10 vino11 vino12";
    justify-items: center;
    gap: 20px;

    & .titleCatalog{
        grid-area: titulo;
        text-align: center;
        margin: 20px;
    }

    & .card--Malbec{
        @extend.card;      
        background-color:$SecondColor;
    }

    & .card--Blanco{
        @extend.card;  
        background-color:#d1b256;
    }


}

.proximosIngresos{
    @include flexColumn;
    text-align: center;
    padding: 5%;

    & .proximosIngresos img{
        width: 100%;
        padding-top: 5%;
    }
}



/*Nosotros*/

.usSectionTop, .usSectionBottom{
    @include flexColumn;
    padding: 5%;
}

.usSectionTop img{
    width: 60%;
    padding-top: 20px;
}

.usSectionBottom h2, .video{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.carousel-inner{
    height: 600px;
}

/*Contacto*/

.contactTitle{
    padding-top: 2rem;
    text-align: center;
}

.contactSectionBottom{
    width: 50%;
}

.map{
    max-width: 100%;
}

/*Carrito*/

.shopSectionTop{
    width: 50%;
}

.shopSectionBottom{
    text-align: center;

    & img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding-top: 1rem;
    }
}

.envios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordion{
    color: black;
    width: 100%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {

    .gridCatalog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "titulo titulo"
                             "vino1 vino2"
                             "vino3 vino4"
                             "vino5 vino6"
                             "vino7 vino8"
                             "vino9 vino10"
                             "vino11 vino12";
        justify-items: center;
        gap: 20px;
    }

    .menuHeader ul{
        @include flexColumn;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .homeSectionTop, .homeSectionBottom{
        @include flexColumn;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .homeImg, .divMain{
        width: 100%;
    }

    .contactDirection{
        padding-right: 2rem;
    }

    @media screen and (max-width: 600px) {
        .gridCatalog{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: "titulo"
                                 "vino1"
                                 "vino2"
                                 "vino3"
                                 "vino4"
                                 "vino5"
                                 "vino6"
                                 "vino7"
                                 "vino8"
                                 "vino9"
                                 "vino10"
                                 "vino11"
                                 "vino12";
            justify-items: center;
            gap: 20px;
        }
        
        .homeSectionTop{
            @include flexRow;
            justify-content: center;
            align-items: center;
            font-size: smaller;
        }

        .homeSectionBottom{
            @include flexColumn;
            justify-content: center;
            align-items: center;
            font-size: smaller;
        }
    }    

}